body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    

}
h1 {
    color:  #66BFBF;
    margin: 50px auto 50px auto;
    font-family: 'Sacramento', cursive;
   font-weight: 3;
   font-size: 5.265rem;
  
}
h2{
    color:  #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 2;
}
p {
    line-height: 2;
}
    
a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;

}

a:hover {
    color: #EAF6F6;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr {
    border:dotted 6px ;
    border-bottom: none;
    width: 4%;
    color: #EAF6F6;
}
.first-container {
    background-color: #CDFCF6;
    padding-top: 100px;
}
.middle-container{
    padding:10px 0 100px;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 40px 0 20px;
    position: relative;
    
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.pic {
    margin: 0 auto 0 auto;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.img {
    margin: 80px auto;
    width: 25%;
}
.buttom-cloud {
    position: absolute;
}
.top-cloud {
    position: relative;
    left: 20%;
    top: 10px;
    bottom: 300px;
}
.skill-row {
    width: 50%;
    position: relative;
    margin: 100px auto 100px auto;
    text-align:left;
    line-height: 2;
}
.code-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    
}
.intro {
    width: 30%;
    margin: auto;
    padding-bottom: 50px;
}
.contact-me {
    margin: 40px auto 60px;
}
.contact-message {
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }